/* Coolors Exported Palette - coolors.co/b7cadc-e5e7e9-324353-fefefe-dd399c */

/* HSL */
HSL {
  color1: hsla(209%, 35%, 79%, 1);
  color2: hsla(210%, 6%, 94%, 1);
  color3: hsla(209%, 25%, 26%, 1);
  color4: hsla(0%, 0%, 100%, 1);
  color5: hsla(324%, 71%, 55%, 1);
}

/* RGB */
RGB {
  color1: rgba(183, 202, 220, 1);
  color2: rgba(238, 239, 240, 1);
  color3: rgba(50, 67, 83, 1);
  color4: rgba(254, 254, 254, 1);
  color5: rgba(221, 57, 156, 1);
}