* {
  /* border: 1px solid black; */
}

body{
  background-color:#ccc;
  color: white;
  font-family: "Roboto", sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  min-width: 1200px;
  min-height: 750px;
}

#main {
  background:#324353;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90vw;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.10);
  max-width: 1150px;
}


#logo-div{
  height: auto;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo{
  height: 300px;
  margin-bottom: 20px;
  animation-name: spin;
  animation-duration: 100000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#logo:hover{
  animation-duration: 100ms;
  animation-timing-function: ease-in;
  cursor: pointer;
}

#text-div{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

h1, h2{
  font-size: 1.5em;
  margin: 5px;
  letter-spacing: .1px;
}

a{
  margin: 20px;
  color: white; 
}

p {
  font-size: .80em;
  color: #222;
}

button {
  margin: 10px;
  padding: 15px 25px;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}